<p style="text-align: justify;">
  <strong>{{ request.session.sistema_ente.nome }}</strong>, 
  sua Adesão ao Sistema Nacional de Cultura – SNC está quase concluída.
  Para efetivar a adesão, é necessário que o Acordo de Cooperação Federativa 
  (disponível na plataforma do SNC após conclusão do cadastro do ente federado) 
  seja enviado para a equipe do SNC.
</p>
<p>
    <strong>Efetue apenas 1(uma) das seguintes formas:</strong>
</p>

<p>
  <ol>
    <li>
      <p>
        <p><strong>CORREIOS:</strong></p>
          Imprima o Formulário de Solicitação de Integração ao SNC e o Acordo de Cooperação Federativa e envie-os, devidamente assinados pelo Governador(a)/Prefeito(a), via Correios para o endereço:
          SCS, Quadra 09, Lote C, Torre B, 10° andar – Edifício Parque Cidade Corporate.
          CEP: 70.308 -200 – Brasília/DF
        </p>
        <p><strong>OU</strong></p>
    </li>
    <li>
      <p>
        <p><strong>E-MAIL:</strong></p>
          Envie o Formulário de Solicitação de Integração ao SNC e o Acordo de Cooperação 
          Federativa em arquivo PDF para o e-mail snc@cultura.gov.br, para assinatura 
          eletrônica no Sistema Eletrônico de Informações (SEI).
      </p>
      <p><strong>ATENÇÃO: </strong>Para tanto, o(a) Governador(a)/Prefeito(a) deverá estar cadastrado no SEI.</p>
      <ol>
          <li>
            <strong>Se (a) prefeito(a)/governador(a) já possui acesso no SEI:</strong>
            <p style="text-align: justify;">
              Envie um e-mail para o endereço <strong>snc@cultura.gov.br</strong> informando à Equipe SNC o nome completo e o e-mail do(a) prefeito(a)/governador(a) para que seja liberado o Acordo de Cooperação Federativa para assinatura eletrônica. Lembrando que tais informações não podem ser de terceiros, somente do(a) prefeito(a)/governador(a).
            </p>
          </li>
          <li>
            <strong>Se o(a) prefeito(a)/governador(a) ainda não possui acesso no SEI:</strong>
            <p style="text-align: justify;">
              Acesse o link <a href="https://sei.cultura.gov.br/acessoexterno">https://sei.cultura.gov.br/acessoexterno</a>, e solicite o cadastro.  
              </br>
              <a href="https://sei.cultura.gov.br/ajuda/TutorialCadastroUsuarioExterno.php"><strong>Clique Aqui</strong></a> e siga o passo-a-passo para o cadastro de usuário externo no SEI.
              </br>
            </p>
          </li>
      </ol>
      <p>Após conclusão do procedimento, um e-mail será enviado pela Equipe SNC informando que o Acordo de Cooperação Federativa estará disponível para assinatura eletrônica e conclusão da adesão. </p>
          
    </li>
  </ol>
  
</p>

<strong>Equipe SNC</strong></br></br>