{% extends "base.html" %} {% block content %}
<p>
  <h3><strong>Contato</strong></h3>
</p>
<hr />
<p>
  <strong>Dúvidas e Informações:</strong>
</p>
<p>
  SDC / Secretaria Especial da Cultura / Ministério da Cidadania <br />
  Coordenação-Geral do SNC - CGSNC <br />
  SCS Q. 09, Lote C, Bloco B, 10º andar <br />
  Edifício Parque Cidade Corporate <br />
  CEP: 70.308-200 Brasília-DF <br />
  E-mail: snc@cultura.gov.br
</p>
{% endblock content %}
