<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" dir="ltr">

<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Sistema Nacional de Cultura</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{% static 'img/touch_icon.png' %}">

  <!-- Plone CSS - only for preview, will be removed in rules.xml -->
  <link media="screen" href="{% static 'css/plone.css' %}" type="text/css" rel="stylesheet" id="plone-css">

  <!-- Theme CSS - only for preview, will be removed in rules and added in CSS registry -->
  <link media="all" href="{% static 'css/mainLogin.css' %}" type="text/css" rel="stylesheet" id="main-css">
  <link media="all" href="{% static 'css/styleLogin.css' %}" type="text/css" rel="stylesheet">

</head>

<body>
  <!-- BARRA DO GOVERNO FEDERAL -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
      <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
  </div>


  <div id="wrapper">

    <!-- HEADER -->

    <div id="header" role="banner">

      <div>

        <ul id="accessibility">
          <li>
            <a accesskey="1" href="#acontent" id="link-conteudo">
                            Ir para o conteúdo
                            <span>1</span>
                        </a>
          </li>
          <li>
            <a accesskey="2" href="#anavigation" id="link-navegacao">
                            Ir para o menu
                            <span>2</span>
                        </a>
          </li>
          <li>
            <a accesskey="3" href="#SearchableText" id="link-buscar">
                            Ir para a busca
                            <span>3</span>
                        </a>
          </li>
          <li>
            <a accesskey="4" href="#afooter" id="link-rodape">
                            Ir para o rodapé
                            <span>4</span>
                        </a>
          </li>
        </ul>

        <ul id="language" class="hidden">
          <li class="language-es">
            <a href="#">Español</a>
          </li>
          <li class="language-en">
            <a href="#">English</a>
          </li>
        </ul>

        <ul id="portal-siteactions">
          <li>
            <a href="#">Acessibilidade</a>
          </li>
          <li>
            <a href="#">Alto Contraste</a>
          </li>
          <li>
            <a href="#">Mapa do Site</a>
          </li>
        </ul>

        <div id="logo">
          <a href="{% url 'adesao:index' %}" title="#">
            <span id="portal-title">Sistema Nacional de Cultura</span>
            <span id="portal-description" style="color:#FC0">Secretaria Especial da Cultura / Ministério da Cidadania</span>
          </a>

        </div>


        <br />
        <br />
        <br />
        <br />


        <div id="social-icons">
          <ul>
            <li id="portalredes-facebook" class="portalredes-item">
              <a href="https://www.facebook.com/pages/ArticulaMinc/1595363034014002" title="Facebook" target="_blank">
              </a>
            </li>
            <li id="portalredes-twitter" class="portalredes-item">
              <a href="https://twitter.com/ArticulaMINC" title="Twitter" target="_blank">
              </a>
            </li>
            <li id="portalredes-youtube" class="portalredes-item">
              <a href="https://www.youtube.com/channel/UC3cNjlfoG5jUV3sHcfhD9Vg" title="Youtube" target="_blank">
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div id="sobre">
        <ul>
          <li id="link-sobre">
            <a href="http://portalsnc.cultura.gov.br/">Sobre o SNC</a>
          </li>
          |
          <li id="link-consulta">
            <a href="{% url 'adesao:consultar' tipo='municipio' %}">Consultar Informações</a>
          </li>
          |
          <li id="link-sobre">
            <a href="http://portalsnc.cultura.gov.br/perguntas-frequentes/" target="_blank">Perguntas frequentes</a>
          </li>
          |
          <li id="link-central">
            <a href="{% url 'adesao:faleconosco' %}">Fale conosco</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- content -->

    <div id="main" role="main">
      <div id="plone-content">

        <!-- Demo Plone Content -->

        <div id="portal-columns" class="row">

          <div id="viewlet-above-content">



          </div>

          <!-- Column 1 -->
          <div id="navigation">
            <a name="anavigation" id="anavigation"></a>
            <span class="menuTrigger">Menu</span>

            <div id="portal-column-one" class="cell width-1:4 position-0">
              <div class="logo">
                <a href="{% url 'adesao:index' %}">
                  <img src="{% static 'img/logo-header.png' %}" alt="Sistema Nacional de Cultura" />
                </a>
              </div>
            </div>
          </div>

	 <section class="main">
            <form class="form-2" action="{% url 'adesao:login' %}" method="post">{% csrf_token %}
              {% if form.errors %}
                <p>Senha ou CPF incorretos.</p>
              {% endif %}
              <h1><span class="log-in">Acessar</span></h1>
              <p class="float">
                <label for="login" style="color:#FFF"><i class="icon-user"></i>CPF:</label>
                <input type="text" name="username" class="cpf" maxlength="14"/>
              </p>
              <p class="float">
                <label for="password" style="color:#FFF"><i class="icon-lock"></i>Senha:</label>
                <input type="password" name="password"/>
              </p>
              <p>
                <a href="{% url 'password_reset' %}" style="color:#FFF"><small>Esqueceu sua senha?</small></a>
              </p>
              <p class="clearfix">
                <a href="{% url 'adesao:usuario' %}" class="log-twitter">Novo Usuário</a>
                <input id="submit" type="submit" name="submit" value="Acessar" />
              </p>
            </form>
          </section>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

          <!-- Conteudo -->
          <div id="portal-column-content" class="cell width-1:2 position-1:4">
            <a name="acontent" id="acontent"></a>
            <div id="viewlet-below-content"></div>

          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <!-- Column 2-->
        </div>

        <!-- /Demo Plone Content -->

      </div>

      <div class="clear"></div>
      <div id="voltar-topo">
        <a href="#wrapper">Voltar para o topo</a>
      </div>

    </div>

    <!-- Footer -->
    <div id="footer" role="contentinfo">
        <a name="afooter" id="afooter"></a>


        <div class="clear"></div>
        <div id="footer-brasil" class="footer-logos">
            <div>
                <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
                    <img src="img/acesso-a-infornacao.png" alt="Acesso a Informa&ccedil;&atilde;o" />
                </a>
                <a href="http://www.brasil.gov.br/" class="logo-brasil">
                    <img src="img/brasil.png" alt="Brasil - Governo Federal" />
                </a>
            </div>
        </div>
    </div>

    <!-- /Footer-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.formatter.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/validaCPF.js' %}"></script>
    {% verbatim %}
    <script type="text/javascript">
      $(document).ready(function(){
        $(".cpf").formatter({
          'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
          'persistent': false,
        });

        $(".form-2").submit(function(){
          $(".cpf").formatter().resetPattern('{{99999999999}}')
        });
      });
    </script>
    {% endverbatim %}
    <!-- Script da Barra do Governo -->
    <script defer src="http://barra.brasil.gov.br/barra.js" type="text/javascript"></script>
</body>

</html>