{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
{% include 'messages.html' %}
<style>
.editable-input, .form-inline .form-control {
  width: 100%;
}
.editable-error-block{
  display: none !important;
}
.focus-expandable{
  border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
</style>
<menu data-target="usuarios" ></menu>
<div class="row">
    <div class="col-lg-12">
      <div class="card card-default">
        <div class="card-header card-plain card-header-primary">
            <h4 class="card-title">Usuarios</h4>
            <p class="card-category">Gerenciar acessos ao sistema</p>
        </div>
        <div class="card-body table-responsive">
            <table id="tabela-ente" class="datatable table table-hover">
                <thead class="text-primary">
                    <tr>
                      <th>CPF</th>
                      <th>Nome Completo</th>
                      <th>E-mail</th>
                      <th>Último acesso</th>
                      <th>Situação</th>
                      <th>Perfil</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
            </table>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
{% block js%}
<script type="text/javascript">
(function ($) {
    var errorOld = $.fn.editableform.error;
    $.fn.editableform.defaults.error = function(response, newValue) {
      if(response.status == 500){
        let response_message = response.responseJSON.error.message;
        $.notify(
          {
            icon: "error",
            message: response_message,
          },
          {type: "danger"}
        );
      }
    }
})(jQuery);

$(document).ready(function(){
  csrf_token = '{{ csrf_token }}';
  alterar_usuario_url = '/gestao/alterar/usuario/'

  $.ajaxSetup({
    data: {csrfmiddlewaretoken: csrf_token},
  });

  var tabela = $('#tabela-ente').DataTable({
    order: [1, 'asc'],
    language:{
            "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
          },
    columns: [
        {
          data: null,
          name: "user__username",
          render: (data) => data[1],
        },
        {
          data: null,
          name: "nome_usuario",
          render: (data) => data[2],
        },
        {
          data: null,
          name: "user__email",
          render: (data) => `
              <a
              href="#"
              class="user__email"
              data-name="email"
              data-type="text"
              data-pk="${data[0]}"
              data-url="${alterar_usuario_url}${data[0]}"
              data-title="Alterar E-mail">
                ${data[3]}
                <i class="fa fa-edit"></i>
              </a>`
        },
        {
          data: null,
          name: "user__last_login",
          render: (data) => {
            if (!data[4].length){
              return 'Nunca entrou'
            }
            return formatarData(data[4])
          }
        },
        {
          data: null,
          name: "user__is_active",
          render: (data) =>`
              <a
              href="#"
              class="user__is_active"
              data-name="is_active"
              data-pk="${data[0]}"
              data-url="${alterar_usuario_url}${data[0]}"
              data-value="${data[5] == 'Ativo' ? 1 : 0}"
              data-title="Alterar Situação">
                ${data[5]}
              </a>`
        },
        {
          data: null,
          name: "user__is_staff",
          render: (data) => {
            var dataValue = '';
            switch (data[6]) {
            case 'Cadastrador':
                dataValue = '0';
                break;
            case 'Administrador':
                dataValue = '1';
                break;
            case 'Central de Relacionamento':
                dataValue = '2';
                break;
            }

            return `
              <a
              disabled
              href="#"
              class="user__is_staff"
              data-name="is_staff"
              data-pk="${data[0]}"
              data-url="${alterar_usuario_url}${data[0]}"
              data-value="${dataValue}"
              data-title="Alterar Perfil">
                ${data[6]} <i class="fa fa-edit"></i>
              </a>`}
        },
        {
          data: null,
          className: "text-center",
          name: "user__is_staff",
          render: (data) => '<i class="material-icons expandable-icon">expand_more</i>'
        },
    ],
    searching: true,
    processing: true,
    serverSide: true,
    stateSave: true,
    ajax: {
      url: "{% url 'gestao:ajax_usuarios' %}",
      type: "POST",
    },
  });

  $('#tabela-ente').on('draw.dt', function () {
    $('.user__email').editable({
      validate: function(value){
        if($.trim(value) == ''){
          $.notify(
          {
            icon: "error",
            message: 'Não é possível salvar o campo email vazio.',
          },
          {type: "danger"}
        );
        }
        else {
          $.notify(
          {
            icon: "check_circle",
            message: 'E-mail alterado com sucesso!',
          },
          {type: "success"}
        );
        }
      },
      display: function(value) {
        $(this).html(`${value} <i class="fa fa-edit"></i>`);
      },

    });

    $('.user__is_active').editable({
      type: 'select',
      title: 'Selecione',
      source: [
        { value: 0, text: 'Inativo' },
        {value: 1, text: 'Ativo'},
      ],
      display: function(value, source) {
        $(this).html(`${source[value].text} <i class="fa fa-edit"></i>`);
      },
      success: function(response, newValue) {
        $.notify(
          {
            icon: "check_circle",
            message: 'Alterado com sucesso!',
          },
          {type: "success"}
        );
      }
    });

    $('.user__is_staff').editable({
      type: 'select',
      source: [
        { value: 0, text: 'Cadastrador' },

        {value: 1, text: 'Administrador'},
        { value: 2, text: 'Central de Relacionamento' },
      ],
      display: function(value, source) {
        $(this).html(
          `${source[value].text}
          {% if request.user|has_group:"usuario_scdc" %}
          <i class="fa fa-edit"></i>
          {% endif %}`
          );
      },
      success: function(response, newValue) {
        $.notify(
          {
            icon: "check_circle",
            message: 'Alterado com sucesso!',
          },
          {type: "success"}
        );
      }
    });

    {% if not request.user|has_group:"usuario_scdc" %}
      $('.user__is_staff').editable('toggleDisabled');
    {% endif %}

  });

  var diasSemLogar = function (data_cadastro){
    if(!data_cadastro) return '-'
    var data_cadastro = new Date(data_cadastro);
    var hoje = new Date();
    var um_dia = 86400000;
    dias_sem_logar_timestamp = hoje.getTime() - data_cadastro.getTime();
    dias_sem_logar = parseInt(dias_sem_logar_timestamp/um_dia);
    return dias_sem_logar
  }

  var formatarData = function(data) {
    var data = new Date(data);
    return data.toLocaleDateString('pt-BR')
  }

  var formatar = function (data) {
    var linhas_entes = ''
    var link_pagina_ente = ''

    let entes_usuario = data[7]

    entes_usuario.forEach((ente, chave) => {
      let ente_cod_ibge = ente[0]
      let ente_nome =  ente[1]

      link_pagina_ente = `
        <a href="/gestao/ente/${ente_cod_ibge}">
          ${ente_nome}
          <i class="material-icons expandable-icon">call_made</i>
        </a>
      `

      if (!chave){
        linhas_entes += `
          <tr>
            <td style="font-weight: bold;">Ente Federado:</td>
            <td>${link_pagina_ente}</td>
          </tr>
          `
      } else {
        linhas_entes += `
          <tr>
            <td>&nbsp;</td>
            <td>${link_pagina_ente}</td>
          </tr>
        `
      }
    })

    if(!entes_usuario.length) linhas_entes = `
        <tr>
          <td style="font-weight: bold;">Ente Federado:</td>
          <td> - </td>
        </tr>`

    return `
      <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
          <tbody>
              ${linhas_entes}
              <tr>
                  <td style="font-weight: bold;">Data cadastro:</td>
                  <td>${formatarData(data[8])}</td>
              </tr>
              <tr>
                  <td style="font-weight: bold;">Dias sem logar:</td>
                  <td>${diasSemLogar(data[4])}</td>
              </tr>
          </tbody>
      </table>`;
  }

  $("#tabela-ente tbody").on('click', 'td', function () {
        var tr = $(this).closest("tr[role='row']");
        var row = tabela.row( tr );
        var expandable_icon = tr.find('.expandable-icon');
        var clicked_contains_editable = $(this).children().hasClass('editable');

        if(!tr.length || clicked_contains_editable){
          return;
        }

        expandable_icon.css({'transform': 'rotate(-180deg)'});

        if ( row.child.isShown() ) {
            row.child.hide();
            expandable_icon.css({'transform': 'rotate(0deg)'});
            tr.removeClass('shown');
        }
        else {
            row.child( formatar(row.data()) ).show();
            tr.addClass('shown');
            row.child().children(":first").addClass('focus-expandable')
        }
  });

});
</script>
{% endblock js%}
