<html>

<head>
  <title>Termo de Solicitação</title>
  <link href="http://{{static}}/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://{{static}}/static/css/pdf.css" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body align="justify">
  <div class="row" style="margin:0; padding:0;">
    <center>
      <div class="col-xs-9 col-xs-offset-1">
        <h4><br><strong>Solicitação de Integração ao Sistema Nacional de Cultura</strong></h4>
      </div>
      <div class="col-xs-2">
        <img src="http://{{static}}/static/images/logo_snc_small.png">
      </div>
    </center>
  </div>
  <div class="row">
    <hr style="background-color:black;" />
    <center>
      {% if request.session.sistema_ente.cod_ibge > 100 %}
        <strong>Prefeitura</strong>
      {% else %}
        <strong>Governo</strong>
      {% endif %}
    </center>
    <hr style="background-color:black;" />
    {% if request.session.sistema_ente.cod_ibge > 100 %}
      <div class="col-xs-6">
        Município: {{ request.session.sistema_ente.nome }}
      </div>
    {% else %}
      <div class="col-xs-6">
        Estado: {{ request.session.sistema_ente.nome }}
      </div>
    {% endif %}
    <div class="col-xs-6">
      CNPJ: {{ request.session.sistema_sede.cnpj }}
    </div>
    <div class="col-xs-6">
      CEP: {{ request.session.sistema_sede.cep }}
    </div>
    <div class="col-xs-6">
      Logradouro: {{ request.session.sistema_sede.endereco }}
    </div>
    <div class="col-xs-6">
      Complemento: {{ request.session.sistema_sede.complemento }}
    </div>
    <div class="col-xs-6">
      Bairro: {{ request.session.sistema_sede.bairro }}
    </div>
    <div class="col-xs-10">
      Telefone Institucional: {{ request.session.sistema_sede.telefone_um }}; {{ request.session.sistema_sede.telefone_dois }}; {{ request.session.sistema_sede.telefone_tres }}
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Prefeito</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      CPF: {{request.session.sistema_gestor.cpf}}
    </div>
    <div class="col-xs-6">
      Nome Completo: {{request.session.sistema_gestor.nome}}
    </div>
    <div class="col-xs-6">
      RG: {{request.session.sistema_gestor.rg}}
    </div>
    <div class="col-xs-6">
      Órgão Expeditor: {{request.session.sistema_gestor.orgao_expeditor_rg}}
    </div>
    <div class="col-xs-10">
      Email Institucional: {{request.session.sistema_gestor.email_institucional}}
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Gestor de Cultura</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      CPF: {{request.session.sistema_gestor_cultura.cpf}}
    </div>
    <div class="col-xs-12">
      Nome Completo: {{request.session.sistema_gestor_cultura.nome}}
    </div>
    <div class="col-xs-4">
      RG: {{request.session.sistema_gestor_cultura.rg}}
    </div>
    <div class="col-xs-4">
      Órgão Expeditor: {{request.session.sistema_gestor_cultura.orgao_expeditor_rg}}
    </div>
    <div class="col-xs-4">
      UF: {{request.session.sistema_gestor_cultura.estado_expeditor}}
    </div>
    <div class="col-xs-12">
      Cargo: {{request.session.sistema_gestor_cultura.cargo}}
    </div>
    <div class="col-xs-12">
      Instituição: {{request.session.sistema_gestor_cultura.instituicao}}
    </div>
    <div class="col-xs-12">
      Email Institucional: {{request.session.sistema_gestor_cultura.email_institucional}}
    </div>
    <div class="col-xs-10">
      Telefone Institucional: {{request.session.sistema_gestor_cultura.telefone_um}}; {{request.session.sistema_gestor_cultura.telefone_dois}}; {{request.session.sistema_gestor_cultura.telefone_tres}}
    </div>
  </div>

  <br /><br />
  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Cadastrador</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      <div class="col-xs-12">
        CPF: {{request.user.username}}
      </div>
      <div class="col-xs-12">
        Nome Completo: {{request.user.usuario.nome_usuario}}
      </div>
      <div class="col-xs-12">
        Email: {{request.user.email}}
      </div>
      <div class="col-xs-12">
        *Cadastrador é quem insere as informações na Plataforma de Integração e Monitoramento do SNC, devendo assegurar a confiabilidade dos dados e arquivos apresentados.
      </div>
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Declaração de Responsabilidade (Prefeito)</strong>
    </center>
    <div class="col-xs-12">
      <hr style="background-color:black;" /> <p>Venho, por meio deste, solicitar a integração deste município ao Sistema Nacional de Cultura, através da assinatura do Acordo de Cooperação Federativa, estando ciente de que esta solicitação
      <strong>deve ser acompanhada dos documentos básicos</strong> sem os quais a análise e a tramitação do processo ficarão prejudicadas,
      <strong><u>responsabilizando-me, sob as penas da lei, pela autenticidade dos documentos apresentados e pela veracidade das informações prestadas.</u></strong></p>
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Autorização</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      <p>Autorizo a divulgação das informações de interesse público referentes ao município, prefeito, interlocutor e responsável pelo acompanhamento do acordo na plataforma do Sistema Nacional de Informações e Indicadores Culturais (SNIIC), quais sejam:
      a) Município: nome, CNPJ, endereço, telefone e e-mail institucional; b) Informações do Prefeito: nome, e-mail institucional; c) Informações do Interlocutor: nome, Instituição, cargo/função, e-mail, endereço e telefone institucional; d) Informações
      do Responsável pelo acompanhamento do Acordo: nome, Instituição, cargo/função, e-mail, endereço e telefone institucional;<br></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>
        <br>___________________________ , ________ de ____________________ de 20_____
      </p>
      <p>
        <strong>Nome Completo: {{request.session.sistema_gestor.nome}}</strong>
        <br>
        <strong>Prefeito do Município: {{request.session.sistema_ente.nome}}</strong>
      </p>
    </div>
  </div>
</body>

</html>
