{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<div id="form-type" data-form-type="{{is_edit}}"></div>
<form id="form" method="post" class="componente-form" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Estruturação dos Componentes</strong>
  </h3>
  <h5>
    <strong>2.1 Estruturação e implementação da Secretaria de Cultura ou órgão equivalente
      (Secretaria em conjunto com outras políticas, fundação de cultura, departamento, coordenação, diretoria, etc)</strong>
  </h5>

  <div class="form-group">
    <label for="{{ form.data_publicacao.id_for_label }}">
      Data da Publicação do Ato Normativo relativo a criação do Órgão Gestor
    </label>
    {% if form.sistema.orgao_gestor.situacao != 2 %}
      {% render_field form.data_publicacao class="form-control date half-width" %}
    {% else %}
       {% render_field form.data_publicacao disabled="disabled" class="form-control date half-width" %}
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.arquivo.id_for_label }}">
      Comprovação de criação do órgão gestor
    </label>
    {% if form.arquivo.value %}
    <p><a href="{{ form.arquivo.value.url }}" target="_blank">Baixar arquivo atual</a></p>
    {% if form.sistema.orgao_gestor.situacao != 2 %}
    <p>Modificar: {% render_field form.arquivo %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.arquivo %}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.perfil.id_for_label }}">
      Qual o perfil do órgão gestor de cultura?
    </label>
    {% render_field form.perfil class="form-control" %}
  </div>
  </br>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Elaborar minuta;<br>
    - Discutir e consultar a sociedade civil (através de seminários, reuniões com entidade civil, audiências, etc);<br>
    - Encaminhar para análise jurídica;<br>
    - Encaminhar ao governador/prefeito para aprovação;<br>
    - Encaminhar ao Poder Legislativo.<br>
    <strong>Observação:&nbsp</strong><br>
    - Manuais disponiveis no site: <a href="http://portalsnc.cultura.gov.br/manuais/"> http://portalsnc.cultura.gov.br/manuais/</a><br>
    - Componentes do Sistema: <a href="http://portalsnc.cultura.gov.br/sistemas-de-cultura/"> http://portalsnc.cultura.gov.br/sistemas-de-cultura/</a><br>
  </div>

</form>
</div>

{% endblock content %}
{% block js %}

<script type="text/javascript">
  $(document).ready(function () {

    $('#form').submit(function(){
      $("#form :disabled").removeAttr('disabled');
    });

    var formularioComponente = $('form.componente-form');
    if ($('#form-type').data('form-type') === 'True'){
      formularioComponente.after(`
        <a type="button" id="botaoSalvarConfirmacao" class="btn btn-success">Salvar</a>
      `);
    } else {
      formularioComponente.after(`
        <button type="submit" id="botaoSalvar"class="btn btn-success">Salvar</button>
      `);
    }
    $('#botaoSalvarConfirmacao').on('click', () => {
      var confirmacao = confirm('Deseja mesmo alterar o arquivo? Isso poderá ocasionar o retrocesso do seu processo.');
      if (confirmacao == true) {
        formularioComponente.submit();
      }
    });
    $('#botaoSalvar').on('click', () => {
      formularioComponente.submit();
    });

  });
</script>

{% endblock js %}
