{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<div id="form-type" data-form-type="{{is_edit}}"></div>
<form id="form" method="post" class="componente-form" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Estruturação dos Componentes</strong>
  </h3>

  <div class="form-group">
    <label for="{{ form.mesma_lei.id_for_label }}">
      É a mesma lei do sistema municipal de cultura?</br>
    </label>
    {% if form.sistema.conselho.lei.situacao != 2 %}
      {% render_field form.mesma_lei class="radio" %}
    {% else %}
      {% render_field form.mesma_lei disabled="disabled" class="radio" %}
    {% endif %}
  </div>

  <h5>
    <strong>2.2 Instalação do Conselho de Política Cultural</strong>
  </h5>

  <div id="lei_data_form">
    <div class="form-group">
      <label for="{{ form.data_publicacao_lei.id_for_label }}">
        Data de Publicação da Lei do Conselho de Cultura
      </label>
      {% if form.sistema.conselho.lei.situacao != 2 %}
        {% render_field form.data_publicacao_lei class="form-control date half-width" %}
      {% else %}
        {% render_field form.data_publicacao_lei disabled="disabled" class="form-control date half-width" %}
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.arquivo_lei.id_for_label }}">
        Lei de criação do Conselho Estadual/Municipal de Cultura
      </label>
      {% if form.arquivo_lei.value %}
        <p><a href="{{ form.arquivo_lei.value.url }}">Baixar arquivo atual</a></p>
        {% if form.sistema.conselho.lei.situacao != 2 %}
          <p>Modificar: {% render_field form.arquivo_lei %}</p>
        {% endif %}
      {% else %}
        <p>{% render_field form.arquivo_lei %}</p>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form.possui_ata.id_for_label }}">
      Possui alguma ata da última reunião do conselho?</br>
    </label>
    {% if form.sistema.conselho.situacao != 2 %}
      {% render_field form.possui_ata class="radio" %}
    {% else %}
      {% render_field form.possui_ata disabled="disabled" class="radio" %}
    {% endif %}
  </div>

  <div id="ata_form">
    <div class="form-group">
      <label for="{{ form.data_publicacao.id_for_label }}">
        Data de Assinatura da Ata da última reunião
      </label>
      {% if form.sistema.conselho.situacao != 2 %}
        {% render_field form.data_publicacao class="form-control date half-width" %}
      {% else %}
        {% render_field form.data_publicacao disabled="disabled" class="form-control date half-width" %}
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.arquivo.id_for_label }}">
        Ata da última reunião realizada pelo conselho
      </label>
      {% if form.arquivo.value %}
        <p><a href="{{ form.arquivo.value.url }}">Baixar arquivo atual</a></p>
        {% if form.sistema.fundo_cultura.situacao != 2 %}
          <p>Modificar: {% render_field form.arquivo %}</p>
        {% endif %}
      {% else %}
        <p>{% render_field form.arquivo %}</p>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form.exclusivo_cultura.id_for_label }}">
      O conselho é exclusivo de cultura?</br>
    </label>
    {% for radio in form.exclusivo_cultura %}
      {{ radio }}</br>
    {% endfor %}
  </div>

  <div class="form-group">
    <label for="{{ form.paritario.id_for_label }}">
      O conselho é paritário?</br>
    </label>
    {% for radio in form.paritario %}
      {{ radio }}</br>
    {% endfor %}
  </div>


  {% if request.session.sistema_cultura_selecionado.conselho %}
    <label for={{ form.data_final_instalacao_conselho.id_for_label }} class="col-sm-12">
      Para adicionar um novo conselheiro <a href="{% url 'planotrabalho:listar_conselheiros' %}" >clique aqui</a>
    </label>
  {% endif %}
  </br>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Mobilizar a sociedade, em especial as redes culturais;<br>
    - Realizar o processo de eleição;<br>
    - Definir estrutura de apoio/suporte ao conselho;<br>
    - Convocar os Conselheiros eleitos e realizar reunião de instalação e posse;<br>
    - Aprovar o regimento Interno do Conselho;<br>
     <strong>Observação:&nbsp</strong><br>
    - Manuais disponiveis no site: <a href="http://portalsnc.cultura.gov.br/manuais/"> http://portalsnc.cultura.gov.br/manuais/</a><br>
    - Componentes do Sistema: <a href="http://portalsnc.cultura.gov.br/sistemas-de-cultura/"> http://portalsnc.cultura.gov.br/sistemas-de-cultura/</a><br>
  </div>

</form>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    $('#form').submit(function(){
      $("#form :disabled").removeAttr('disabled');
    });

    var formularioComponente = $('form.componente-form');
    if ($('#form-type').data('form-type') === 'True'){
      formularioComponente.after(`
        <a type="button" id="botaoSalvarConfirmacao" class="btn btn-success">Salvar</a>
      `);
    } else {
      formularioComponente.after(`
        <button type="submit" id="botaoSalvar"class="btn btn-success">Salvar</button>
      `);
    }
    $('#botaoSalvarConfirmacao').on('click', () => {
      var confirmacao = confirm('Deseja mesmo alterar o arquivo? Isso poderá ocasionar o retrocesso do seu processo.');
      if (confirmacao == true) {
        formularioComponente.submit();
      }
    });
    $('#botaoSalvar').on('click', () => {
      formularioComponente.submit();
    });

    if($('#id_mesma_lei_1').is(":checked")){
      $('#lei_data_form').css('display', 'block');
    }
    if($('#id_mesma_lei_0').is(":checked")){
      $('#lei_data_form').css('display', 'none');
    }

    $('input[name=mesma_lei]').change(function() {
      if(this.value=='False') {
        $('#lei_data_form').fadeIn();
      }
      else {
        $('#lei_data_form').fadeOut();
      }
    })

    if($('#id_possui_ata_1').is(":checked")){
      $('#ata_form').css('display', 'none');
    }
    if($('#id_possui_ata_0').is(":checked")){
      $('#ata_form').css('display', 'block');
    }

    $('input[name=possui_ata]').change(function() {
      if(this.value=='False') {
        $('#ata_form').fadeOut();
      }
      else {
        $('#ata_form').fadeIn();
      }
    })
  });

  input = $('.actions:first').clone();
  $(".segmento").change(function(){
    if ($(this).val() === '21'){
      $(this).parent().children('[name=outros_segmento]').fadeIn();
    }else {
      $(this).parent().children('[name=outros_segmento]').fadeOut();
    }
  });
  $('.add').click(function() {
        input.clone().attr('id', 'conselheiro_' + $('.actions').length)
        .insertAfter($('.actions:last'));
        {% verbatim %}
        $(".cpf").formatter({
          'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
          'persistent': false,
        });
        {% endverbatim %}
        $(".segmento").change(function(){
          if ($(this).val() === 'Outros'){
            $(this).parent().children('[name=outros_segmento]').fadeIn();
          }else {
            $(this).parent().children('[name=outros_segmento]').fadeOut();
          }
        });
  });
  $('.del').click(function() {
    if($('.actions').length > 1)
      $('.actions:last').remove();
  });

</script>
{% endblock content %}
