{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<div id="form-type" data-form-type="{{is_edit}}"></div>
<form id="form" method="post" class="componente-form" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Estruturação dos Componentes</strong>
  </h3>

  <div class="form-group">
    <label for="{{ form.mesma_lei.id_for_label }}">
      É a mesma lei do sistema municipal de cultura?</br>
    </label>
    {% if form.sistema.fundo_cultura.situacao != 2 %}
      {% render_field form.mesma_lei class="radio" %}
    {% else %}
      {% render_field form.mesma_lei disabled="disabled" class="radio" %}
    {% endif %}
  </div>

  <h5>
    <strong>2.3 Instituição do Fundo de Cultura</strong>
  </h5>

  <div id="lei_data_form">
    <div class="form-group">
      <label for="{{ form.data_publicacao.id_for_label }}">
        Data de Publicação da Lei do Fundo de Cultura
      </label>
      {% if form.sistema.fundo_cultura.situacao != 2 %}
        {% render_field form.data_publicacao class="form-control date half-width" %}
      {% else %}
        {% render_field form.data_publicacao disabled="disabled" class="form-control date half-width" %}
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.arquivo.id_for_label }}">
        Lei de criação do Fundo Estadual/Municipal de Cultura e CNPJ
      </label>
      {% if form.arquivo.value %}
        <p><a href="{{ form.arquivo.value.url }}" target="_blank">Baixar arquivo atual</a></p>
        {% if form.sistema.fundo_cultura.situacao != 2 %}
        <p>Modificar: {% render_field form.arquivo %}</p>
        {% endif %}
      {% else %}
        <p>{% render_field form.arquivo %}</p>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form.possui_cnpj.id_for_label }}">
       O fundo possui cnpj?</br>
    </label>
    {% if form.sistema.fundo_cultura.comprovante_cnpj.situacao != 2 %}
      {% render_field form.possui_cnpj class="radio" %}
    {% else %}
      {% render_field form.possui_cnpj disabled="disabled" class="radio" %}
    {% endif %}
  </div>

  <div id="cnpj_form">
    <div class="form-group {% if form.cnpj.errors %} has-error {% endif %}">
      <label for="{{ form.cnpj.id_for_label }}" class="col-sm-12">
        CNPJ
      </label>
      {% if form.sistema.fundo_cultura.comprovante_cnpj.situacao != 2 %}
        {% render_field form.cnpj class="form-control cnpj half-width" %}
      {% else %}
        {% render_field form.cnpj disabled="disabled" class="form-control cnpj half-width" %}
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.comprovante.id_for_label }}">
        Comprovante do CNPJ
      </label>
      {% if form.comprovante.value %}
        <p><a href="{{ form.comprovante.value.url }}" target="_blank">Baixar arquivo atual</a></p>
        {% if form.sistema.sistema.fundo_cultura.comprovante.situacao != 2 %}
          <p>Modificar: {% render_field form.comprovante %}</p>
        {% endif %}
      {% else %}
        <p>{% render_field form.comprovante %}</p>
      {% endif %}
    </div>
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Elaborar minuta (proposta) de regulamentação do fundo e de outros mecanismos de financiamento;<br>
    - Encaminhar para discussão a minuta para avaliação e aprovação;<br>
    - Publicar no Diário Oficial a regulamentação do fundo e dos outros mecanismos de financiamento<br>
    <strong>Atenção:&nbsp</strong><br>
    - O CNPJ do Fundo de Cultura deve ser matriz e exclusivo para a cultura<br>
    - O número do CNPJ do Fundo de Cultura deve ser diferente do CNPJ do estado/DF/município<br>
    <strong>Observação:&nbsp</strong><br>
    - Manuais disponiveis no site: <a href="http://portalsnc.cultura.gov.br/manuais/"> http://portalsnc.cultura.gov.br/manuais/</a><br>
    - Componentes do Sistema: <a href="http://portalsnc.cultura.gov.br/sistemas-de-cultura/"> http://portalsnc.cultura.gov.br/sistemas-de-cultura/</a><br>
  </div>

</form>
</div>

{% endblock content %}
{% block js%}
<script type="text/javascript">
  $(document).ready(function(){

    $('#form').submit(function(){
      $("#form :disabled").removeAttr('disabled');
    });

    var formularioComponente = $('form.componente-form');
    if ($('#form-type').data('form-type') === 'True'){
      formularioComponente.after(`
        <a type="button" id="botaoSalvarConfirmacao" class="btn btn-success">Salvar</a>
      `);
    } else {
      formularioComponente.after(`
        <button type="submit" id="botaoSalvar"class="btn btn-success">Salvar</button>
      `);
    }
    $('#botaoSalvarConfirmacao').on('click', () => {
      var confirmacao = confirm('Deseja mesmo alterar o arquivo? Isso poderá ocasionar o retrocesso do seu processo.');
      if (confirmacao == true) {
        formularioComponente.submit();
      }
    });
    $('#botaoSalvar').on('click', () => {
      formularioComponente.submit();
    });


    if($('#id_mesma_lei_1').is(":checked")){
      $('#lei_data_form').css('display', 'block');
    }
    if($('#id_mesma_lei_0').is(":checked")){
      $('#lei_data_form').css('display', 'none');
    }

    if($('#id_possui_cnpj_0').is(":checked")){
      $('#cnpj_form').css('display', 'block');
    }
    if($('#id_possui_cnpj_1').is(":checked")){
      $('#cnpj_form').css('display', 'none');
    }

    $('input[name=mesma_lei]').change(function() {
      if(this.value=='False') {
        $('#lei_data_form').fadeIn();
      }
      else {
        $('#lei_data_form').fadeOut();
      }
    })

    $('input[name=possui_cnpj]').change(function() {
      if(this.value=='True') {
        $('#cnpj_form').fadeIn();
      }
      else {
        $('#cnpj_form').fadeOut();
      }
    })
  });

</script>
{% endblock js%}