{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div align="center">
  <h3>Cadastro de Ente Federado</h3>
  <p>Preencha o formulário abaixo com os dados do município ou estado.</p>
</div>

<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
	{% if not form_sistema.instance.ente_federado %}
		<div class="form-group">
		    <label for="{{ form_sistema.ente_federado.id_for_label }}" class="col-sm-4 control-label">Ente Federado (Estado ou Município)</label>

		    <div class="col-sm-2">
		        {% render_field form_sistema.ente_federado class="form-control" %}
		    </div>
		</div>
	{% else %}
		<div class="form-group">
		    <label class="col-sm-4 control-label">Ente Federado (Estado ou Município)</label>

		    <div class="col-sm-2">
		    	<select name="ente_federado" class="form-control"  id="id_ente_federado">
		    		<option value="{{object.ente_federado.id}}" selected="">{{object.ente_federado}}</option>
		        </select>
		    </div>
		</div>
	{% endif %}

	{% include "formulario_sistema.html" %}

	<div class="form-group">
	    <div class="col-sm-offset-3 col-sm-10">
	      <a class="btn btn-default" href="{% url 'adesao:home' %}">Cancelar</a>
	      <input type="submit" class="btn btn-success" value="Salvar" />
	    </div>
  	</div>
</form>

{% endblock content %}
