{% extends "base.html" %} {% load widget_tweaks %} {% block content %}
<div align="center">
    <h3>Cadastro do Gestor de Cultura</h3>
    <p>Preencha o formulário abaixo com os dados do dirigente responsável pela área de cultura do município/estado.</p>
</div>

<form class="form-horizontal" method="post">{% csrf_token %}
  <div class="form-group {% if form.rg.errors %} has-error {% endif %}">
    <label for="{{ form.rg.id_for_label }}" class="col-sm-3 control-label">RG</label>

    <div class="col-sm-4">
      {% render_field form.rg class="form-control" %}
      {% if form.rg.errors %} 
        <span class="help-block">{{ form.rg.errors }}</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group {% if form.cpf.errors %} has-error {% endif %}">
    <label for="{{ form.cpf.id_for_label }}" class="col-sm-3 control-label">CPF</label>

    <div class="col-sm-4">
      {% render_field form.cpf class="form-control cpf" %}
      {% if form.cpf.errors %} 
        <span class="help-block">{{ form.cpf.errors }}</span>
      {% endif %}
    </div>

  </div>

  <div class="form-group {% if form.orgao_expeditor_rg.errors %} has-error {% endif %}">
    <label for="{{ form.orgao_expeditor_rg.id_for_label }}" class="col-sm-3 control-label">Órgão Expeditor</label>

    <div class="col-sm-2">
      {% render_field form.orgao_expeditor_rg class="form-control" %}
      {% if form.orgao_expeditor_rg.errors %} 
        <span class="help-block">{{ form.orgao_expeditor_rg.errors }}</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group {% if form.estado_expeditor.errors %} has-error {% endif %}">
    <label for="{{ form.estado_expeditor.id_for_label }}" class="col-sm-3 control-label">Estado</label>

    <div class="col-sm-4">
      {% render_field form.estado_expeditor class="form-control" %}
      {% if form.estado_expeditor.errors %} 
        <span class="help-block">{{ form.estado_expeditor.errors }}</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group {% if form.nome.errors %} has-error {% endif %}">
    <label for="{{ form.nome.id_for_label }}" class="col-sm-3 control-label">Nome Completo</label>

    <div class="col-sm-9">
      {% render_field form.nome class="form-control" %}
      {% if form.nome.errors %} 
        <span class="help-block">{{ form.nome.errors }}</span>
      {% endif %}
    </div>

  </div>

  <div class="form-group {% if form.cargo.errors %} has-error {% endif %}">
    <label for="{{ form.cargo.id_for_label }}" class="col-sm-3 control-label">Cargo</label>

    <div class="col-sm-9">
      {% render_field form.cargo class="form-control" %} {{ form.cargo.errors }}
      {% if form.cargo.errors %} 
        <span class="help-block">{{ form.cargo.errors }}</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group {% if form.instituicao.errors %} has-error {% endif %}">
    <label for="{{ form.instituicao.id_for_label }}" class="col-sm-3 control-label">Instituição</label>

    <div class="col-sm-9">
      {% render_field form.instituicao class="form-control" %}
      {% if form.instituicao.errors %} 
        <span class="help-block">{{ form.instituicao.errors }}</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group {% if form.email_institucional.errors %} has-error {% endif %}">
    <label for="{{ form.email_institucional.id_for_label }}" class="col-sm-3 control-label">E-mail Institucional</label>

    <div class="col-sm-9">
      {% render_field form.email_institucional class="form-control" %}
      {% if form.email_institucional.errors %} 
        <span class="help-block">{{ form.email_institucional.errors }}</span>
      {% endif %}
    </div>

  </div>

  <div class="form-group {% if form.email_pessoal.errors %} has-error {% endif %}">
      <label for="{{ form.email_pessoal.id_for_label }}" class="col-sm-3 control-label">E-mail Pessoal</label>
  
      <div class="col-sm-9">
        {% render_field form.email_pessoal class="form-control" %}
        {% if form.email_pessoal.errors %} 
          <span class="help-block">{{ form.email_pessoal.errors }}</span>
        {% endif %}
      </div>
  
    </div>

  <div class="form-group {% if form.telefone_um.errors %} has-error {% endif %}">

    <label for="{{ form.telefone_um.id_for_label }}" class="col-sm-3 control-label">Telefone Institucional (máximo 3)</label>

    <div class="col-sm-4">
      <div class="input-group input-group-sm">
        {% render_field form.telefone_um class="form-control telefone" %}
      </div>
      {% if form.telefone_um.errors %} 
        <span class="help-block">{{ form.telefone_um.errors }}</span>
      {% endif %}
    </div>

  </div>

  <div class="form-group telefone2 {% if form.telefone_dois.errors %} has-error {% endif %}">
    <div class="col-sm-offset-3 col-sm-4">
      <div class="input-group input-group-sm">
        {% render_field form.telefone_dois class="form-control telefone" %}
      </div>
      {% if form.telefone_dois.errors %} 
        <span class="help-block">{{ form.telefone_dois.errors }}</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group telefone3 {% if form.telefone_tres.errors %} has-error {% endif %}">
    <div class="col-sm-offset-3 col-sm-4">
      <div class="input-group input-group-sm">
        {% render_field form.telefone_tres class="form-control telefone" %}
      </div>
      {% if form.telefone_tres.errors %} 
        <span class="help-block">{{ form.telefone_tres.errors }}</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <a class="btn btn-default" href="{% url 'adesao:home' %}">Cancelar</a>
      <input type="submit" class="btn btn-success" value="Salvar" />
    </div>
  </div>
</form>

{% endblock content %}
