{% load widget_tweaks %}
<div class="row">
  {{form.media}}

  <div class="form-group">
    <label for="{{ form_gestor.cpf.id_for_label }}" class="col-sm-4 control-label">CPF do Gestor (Prefeito ou Governador)</label>

    <div class="col-sm-4">
      {% render_field form_gestor.cpf class="form-control cpf" %}
    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_gestor.rg.id_for_label }}" class="col-sm-4 control-label">RG do Gestor (Prefeito ou Governador)</label>

    <div class="col-sm-3">
      {% render_field form_gestor.rg class="form-control" %}
    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_gestor.orgao_expeditor_rg.id_for_label }}" class="col-sm-4 control-label">Órgão Expeditor</label>

    <div class="col-sm-3">
      {% render_field form_gestor.orgao_expeditor_rg class="form-control" %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form_gestor.estado_expeditor.id_for_label }}" class="col-sm-4 control-label">UF</label>

    <div class="col-sm-2">
      {% render_field form_gestor.estado_expeditor class="form-control" %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <span class="btn btn-default btn-file">
        <strong>Termo de Posse</strong>
        <p>{% render_field form_gestor.termo_posse %}</p>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <span class="btn btn-default btn-file">
        <strong>Cópia do CPF</strong>
        <p>{% render_field form_gestor.cpf_copia %}</p>
      </span>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <span class="btn btn-default btn-file">
        <strong>Cópia do RG</strong>
        <p>{% render_field form_gestor.rg_copia %}</p>
      </span>
    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_gestor.nome.id_for_label }}" class="col-sm-4 control-label">Nome do Gestor (Prefeito ou Governador)</label>

    <div class="col-sm-8">
      {% render_field form_gestor.nome class="form-control" %}
    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_gestor.email_institucional.id_for_label }}" class="col-sm-4 control-label">E-mail Institucional</label>

    <div class="col-sm-8">
      {% render_field form_gestor.email_institucional class="form-control" %}
    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_gestor.email_pessoal.id_for_label }}" class="col-sm-4 control-label">E-mail Pessoal</label>

    <div class="col-sm-8">
      {% render_field form_gestor.email_pessoal class="form-control" %}
    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_sede.cnpj.id_for_label }}" class="col-sm-4 control-label">CNPJ do Ente Federado (Estado ou Município)</label>
    <div class="col-sm-4">
      {% render_field form_sede.cnpj class="form-control cnpj" %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form_sede.endereco.id_for_label }}" class="col-sm-4 control-label">Endereço Institucional</label>
    <div class="col-sm-8">
      {% render_field form_sede.endereco class="form-control" %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form_sede.complemento.id_for_label }}" class="col-sm-offset-1 col-sm-3 control-label">Complemento</label>

    <div class="col-sm-3">
      {% render_field form_sede.complemento class="form-control" %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form_sede.bairro.id_for_label }}" class="col-sm-4 control-label">Bairro</label>

    <div class="col-sm-4">
      {% render_field form_sede.bairro class="form-control" %}

    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_sede.cep.id_for_label }}" class="col-sm-offset-1 col-sm-3 control-label">CEP</label>

    <div class="col-sm-4">
      {% render_field form_sede.cep class="form-control cep" %}
    </div>

  </div>

  <div class="form-group">
    <label for="{{ form_sede.endereco_eletronico.id_for_label }}" class="col-sm-offset-1 col-sm-3 control-label">Endereço Eletrônico (Agenda Digital)</label>

    <div class="col-sm-4">
      {% render_field form_sede.endereco_eletronico class="form-control" placeholder="http://www.exemplo.com.br" %}
    </div>

  </div>

  <div class="form-group">

    <label for="{{ form_sede.telefone_um.id_for_label }}" class="col-sm-offset-1 col-sm-3 control-label">Telefone Institucional (máximo 3)</label>

    <div class="col-sm-4">
      {% render_field form_sede.telefone_um class="form-control telefone" %}
    </div>

  </div>

  <div class="form-group telefone2">
    <div class="col-sm-offset-4 col-sm-4">
      {% render_field form_sede.telefone_dois class="form-control telefone" %}
    </div>
  </div>

  <div class="form-group telefone3">
    <div class="col-sm-offset-4 col-sm-4">
      {% render_field form_sede.telefone_tres class="form-control telefone" %}
    </div>
  </div>
</div>