<div class="modal fade" id="componenteModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Selecione um componente para inserir</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="list-group">
					{% for componente in componentes_restantes %}
						<a
							href="#"
							class="list-group-item list-group-item-action"
							id="{{componente.nome}}"
							onclick="javascript:location.href='{% url 'gestao:inserir_componente' pk=ente.id componente=componente.nome %}'"
							data-dismiss="modal">
								{{componente.descricao}}
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>