{% extends "base.html" %} {% load gestao_tags %}
{% block menu %}
<div class="portletWrapper" id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265" data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265">
  <dl class="portlet portletNavigationTree">
    <dt class="portletHeader">
      <span class="portletTopLeft"></span>
      <a href="#" class="tile ui-droppable">Consultas</a>
      <span class="portletTopRight"></span>
    </dt>
    <dd class="portletItem lastItem">
      <ul class="navTree navTreeLevel0">
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'adesao:consultar' tipo='municipio' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>Municípios</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'adesao:consultar' tipo='estado' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>Estados</span>
          </a>
        </li>
      </ul>
      <span class="portletBottomLeft"></span>
      <span class="portletBottomRight"></span>
    </dd>
  </dl>
</div>
<div class="portletWrapper" id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265" data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265">
  <dl class="portlet portletNavigationTree">
    <dt class="portletHeader">
      <span class="portletTopLeft"></span>
      <a href="#" class="tile ui-droppable">Exportar Dados</a>
      <span class="portletTopRight"></span>
    </dt>
    <dd class="portletItem lastItem">
      <ul class="navTree navTreeLevel0">
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_csv' %}" id="csv" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>CSV</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_ods' %}" id="ods" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>ODS</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_xls' %}" id="xls" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>XLS</span>
          </a>
        </li>
      </ul>
      <span class="portletBottomLeft"></span>
      <span class="portletBottomRight"></span>
    </dd>
  </dl>
</div>
{% endblock menu %}
{% block content %}
<form class="form-horizontal" method="get">
  <div>
      <button type="submit" class="btn btn-info" style="float:right;">Buscar</button>
      <div style="overflow: hidden;">
          <input name="ente_federado" type="search" class="form-control" 
            placeholder="{% if view.kwargs.tipo == 'municipio' %} Município {% elif view.kwargs.tipo == 'estado' %} Estado {% endif %}" />
      </div>
  </div>
</form>

{% if view.kwargs.tipo == 'municipio' %}
  <h1>Municípios</h1>
{% elif view.kwargs.tipo == 'estado' %}
  <h1>Estados</h1>
{% endif %}
<ul>
  {% for sistema in object_list %}
  <li>
    <a href="{% url 'adesao:detalhar' cod_ibge=sistema.ente_federado.cod_ibge %}">{{ sistema.ente_federado }}</a>
  </li>
  {% empty %}
  <li>
    {% if view.kwargs.tipo == 'municipio' %}
      Nenhum município encontrado.
    {% elif view.kwargs.tipo == 'estado' %}
      Nenhum estado encontrado.
    {% endif %}
  </li>
  {% endfor %}
</ul>
<div style="float:right;">
  {% if page_obj.has_previous %}
    <a class="page-link previous" href="?{% url_replace 'page' page_obj.previous_page_number %}">Anterior</a>
  {% endif %}
    <a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
  {% if page_obj.has_next %}
    <a class="page-link next" href="?{% url_replace 'page' page_obj.next_page_number %}">Próximo</a>
  {% endif %}
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $("#busca-avancada").click(function() {
      $("#filtros").fadeIn();
      $("#busca-avancada").fadeOut();
    });
});
</script>
{% endblock js %}
