{% extends "gestao/base_gestao.html" %} {% load widget_tweaks %} {% block content %}
<div class="row">
    {{form.media}}
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Edição do Componente</h4>
          <p class="card-category">Lei do Fundo de Cultura</p>
        </div>
        <div class="card-body">
          <form class="form-horizontal" method="post" enctype=multipart/form-data>{% csrf_token %}
            <div class="form-group">
              <label class="col-sm-12 control-label">É a mesma lei do sistema de cultura?</label>
              <div class="col-sm-12">
                <div class="form-check form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mesma_lei" id="id_mesma_lei_0" value="True">
                    Sim
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mesma_lei" id="id_mesma_lei_1" value="False">
                    Não
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div id="lei_data_form">
              <div class="form-group">
                <div class="col-sm-12">
                  {% render_field form.arquivo %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label">Data de publicação da lei</label>
                <div class="col-md-12">
                  {% render_field form.data_publicacao class="date" %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-12 control-label">Possui CNPJ?</label>
              <div class="col-sm-12">
                <div class="form-check form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="possui_cnpj" id="id_possui_cnpj_0" value="True">
                    Sim
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="possui_cnpj" id="id_possui_cnpj_1" value="False">
                    Não
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div id="cnpj_form">
              <div class="form-group">
                <div class="col-sm-12">
                  {% render_field form.comprovante %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label">CNPJ</label>
                <div class="col-sm-12">
                  {% render_field form.cnpj class="cnpj form-control" %}
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Salvar</button>
            <a class="btn btn-secondary pull-right" href="{% url 'gestao:acompanhar_adesao' %}">Cancelar</a>

          </form>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
{% block js%}
<script type="text/javascript">
  $(document).ready(function(){

    if('{{form.initial.mesma_lei}}' == 'True'){
      $('#id_mesma_lei_0').attr('checked', true)
    } else if('{{form.initial.mesma_lei}}' == 'False') {
      $('#id_mesma_lei_1').attr('checked', true)
    }

    if ('{{form.initial.possui_cnpj}}' == 'True') {
      $('#id_possui_cnpj_0').attr('checked', true)
    } else if ('{{form.initial.possui_cnpj}}' == 'False'){
      $('#id_possui_cnpj_1').attr('checked', true)
    }

    if ($('#id_mesma_lei_1').is(":checked")) {
      $('#lei_data_form').css('display', 'block');
    }
    if ($('#id_mesma_lei_0').is(":checked")) {
      $('#lei_data_form').css('display', 'none');
    }
    if ($('#id_possui_cnpj_0').is(":checked")) {
      $('#cnpj_form').css('display', 'block');
    }
    if ($('#id_possui_cnpj_1').is(":checked")) {
      $('#cnpj_form').css('display', 'none');
    }

    $('input[name=mesma_lei]').change(function() {
      if(this.value=='False') {
        $('#lei_data_form').fadeIn();
      } else {
        $('#lei_data_form').fadeOut();
      }
    })

    $('input[name=possui_cnpj]').change(function() {
      if(this.value=='True') {
        $('#cnpj_form').fadeIn();
      } else {
        $('#cnpj_form').fadeOut();
      }
    })
  });
</script>
{% endblock js%}